body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/229/835/non_2x/waves-crash-shore-free-photo.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0em;

    height: 40em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#contacto {
    height: 38em;
    width: 28em;
    background-color: #9c8953;
    opacity: 0.8;
    border-radius: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#enviar {
    margin-inline: 10em;
}
p {
    font-size: 1.2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    height: 3em;
    width: 3em;
}

button {
    margin-bottom: 1em;
}

.contactame {
    font-size: 1.5em;
    color: #866a1c;
}

img:hover {
    height: 4em;
    width: 4em;
}

@media screen and (max-width: 600px) {
    #contacto {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .form {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .contactame {
        color: #221902;
    }
}


@media screen and (max-width: 250px) {
    #contacto {
        width: 80%;
        height: 80%;
        justify-content: space-around;
        align-items: stretch;
    }
    .form {
        width: 67%;
        height: 80%;
        justify-content: space-around;
        align-items: stretch;
    }
    #enviar {
        margin-inline: 4em;
    }
   
}
