body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/229/835/non_2x/waves-crash-shore-free-photo.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0em;
}

.contenedorGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;
} 

.contenedorArriba {
    width: 50em;
    height: 15em;

    background-color: transparent;
    border: groove;
    border-color: #81631177;
    border-top: none;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divArriba {
    height: 13em;
    width: 100%;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.link1 {
    width: 100%;
    font-size: 3em;
    margin: 2em;
    
}
img {
    height: 10em;
    width: 13em;
}

img:hover {
    height: 12em;
    width: 15em;
}


.portada {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-top: 5em;

    height: 20em;
    width: 100%;
  
}

#nombre {
    font-size: 6.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', monospace;
    font-weight: bold;
    color: #1b180dee;
}

@media screen and (max-width: 600px) {
    .contenedorArriba {
        height: 100%;
        border: none;
    }
    .divArriba {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    img {
        margin: 3em; 
    }
    .portada {
        align-items: center;
        justify-content: center;
        margin-left: 2em;
    }
}