body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/229/835/non_2x/waves-crash-shore-free-photo.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0em;
}

.contenedorGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;
} 

.contenedorArriba {
    width: 50em;
    height: 15em;

    background-color: transparent;
    border: groove indigo;
    border-top: none;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divAbajo {
    height: 4em;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.divArriba {
    height: 13em;
    width: 100%;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.link1 {
    width: 100%;
    font-size: 3em;
    margin: 2em;
    

}

.div2 {
    height: 10em;
    width: 15em;

    background-image: url(https://image.flaticon.com/icons/png/512/1087/1087927.png);
    background-size: 10em 10em;
    background-repeat: no-repeat;
}
.div3 {
    height: 10em;
    width: 15em;

    background-image: url(https://static.thenounproject.com/png/34-200.png);
    background-size: 10em 10em;
    background-repeat: no-repeat;
}

.portada {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-top: 10em;

    height: 20em;
    width: 100%;
  
}

p {
    font-size: 7em;
  
}

